[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=disable_middle_paste
Comment=disables paste on middle click
Exec=./Scripts/middle_click.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

