[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=trackpoint_setup
Comment=sets the button map for the right middle and left click
Exec=./Scripts/trackpoint_setup.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

